:root {
  --ff-primary: font-family: 'Roboto', sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-extra-bold: 900;

  --clr-primary-400: hsl(223, 49%, 49%);
  --clr-secondary-400: hsl(180, 47%, 56%);
  --clr-accent-400: hsl(355, 87%, 66%);
  
  --clr-neutral-200: hsl(0, 0%, 92%);
  --clr-neutral-700: hsla(0, 0%, 10%);
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: var(--ff-primary);
}
