:root {
  --ff-primary: font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: var(--ff-primary);
}
