:root {
  --ff-primary: font-family: 'Roboto', sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-extra-bold: 900;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: var(--ff-primary);
}
